
.banner
  position: relative
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  flex: 1
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  padding: 4rem 10px 10px
  
.banner__content
  max-width: 400px
  width: 100%
  padding: 20px
  box-shadow: 0 0 24px rgba(0,0,0,0.4)
  background: rgba(#1F2533, 0.75)
  p, ul
    margin: 0
  p
    margin-bottom: 10px