.info-menu__list-item {
  padding: 10px;
  margin: 0;
  display: block;
  white-space: nowrap;
  text-align: right;
  text-decoration: none;
}

.info-menu__list-item i {
  transition: all 0.15s ease-out;
}

.info-menu__list-item.red {
  color: #d96060;
}

.info-menu__list-item:hover {
  color: #fff;
}

.info-menu__list-item:hover i {
  transform: scale(1.1);
}
