/* This stylesheet contains the overrides for the react-select component,
it needs to be included in any component that uses it */

body .Select-placeholder {
  color: #3a4765;
}

body .Select-control {
  background-color: transparent;
  border-radius: 0;
  border-color: #3a4765;
  color: #fff;
}

body .Select.is-open .Select-control {
  background: #3a4765;
  border-color: #3a4765;
}

body .Select.is-focused:not(.is-open) > .Select-control {
  box-shadow: none;
  border-color: #fff;
  background: transparent;
}

body .Select-menu-outer {
  background-color: #3a4765;
  border-color: #3a4765;
  /* Fix a strange 1px offset on dropdown */
  width: calc(100% - 1px);
}
