.tab {
  padding: 6px;
  border: 1px solid #333;
  white-space: nowrap;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: all 0.15s ease-out;
  user-select: none;
  border: 1px solid #3a4765;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #3a4765;
}

.tab.active {
  background: #3a4765;
  color: #fff;
}

.tab:hover {
  border-color: #6d7da1;
  color: #fff;
}
