.teaser {
  transition: all 0.3s ease-out;
  position: relative;
}

.teaser:after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-out;
  background-image: linear-gradient(
    to right,
    #1f2533 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
}

.teaser:hover:after {
  opacity: 1;
}

.teaser.active {
  background: #1f2533;
}

/* .teaser.active:after {
  background: #1f2533;
  opacity: 1;
} */

.teaser:active {
  background: #343f57;
}
